<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color:#ffe0bd">
    <a href="/" class="navbar-brand">Kakeibo</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="nav-bar">
      <ul class="navbar-nav">
        <li class="navbar-item"><a href="#" class="nav-link">ログイン</a></li>
        <li class="navbar-item"><a href="#" class="nav-link">新規登録</a></li>
      </ul>
    </div>
  </nav>
</header>